<div class="card-create-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="create-single">
          <h1 class="text-black text-center">クレジットカードの登録が完了しました</h1>
          <%= link_to "クレジットカード情報の表示", card_path, class: 'btn btn-black btn-block' %>
          <%= link_to "トップページに戻る", root_path, class: 'btn btn-black btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>