<div class="card-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="new-single">
          <h1 class="text-black text-center">クレジットカードの新規登録</h1>
          <%= form_with url: cards_path do %>
            <script
              type="text/javascript"
              src="https://checkout.pay.jp/"
              class="payjp-button"
              data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"
              data-text="登録する">
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>