h1, h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.0);

  &:hover {
    color: #fff;
  }
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.0);
  
  &:hover {
    color: #565656;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  
  .users-new-container {
    padding-top: 220px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  a {
    color: #000 !important;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    height: 40px;
  }
}

.event-new-wrapper {
  padding-top: 120px;
}

.event-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .event-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .event-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .event-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .event-table {
      td {
      padding-left: 20px;
      }
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 30%;
    }

    .event-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.condition-new-wrapper {
  padding-top: 120px;
}

.condition-index-wrapper {
  margin-top: 30px;
  padding-top: 70px;
  background-color: #fafafa;
  .condition-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .condition-title {
      padding-right: 20px;
      padding-left: 20px;
    }

    .condition-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    .condition-table {
      td {
      padding-right: 20px;
      padding-left: 20px;
      }
    }

    .condition-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.photo-new-wrapper {
  padding-top: 120px;
}

.photo-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .photo-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .photo-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .photo-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .photo-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.photo-show-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  
  .photo-show-single {
	  background-color: #fff;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  margin-top: 30px;
	  border: 1px solid #e6ecf0;
	  border-radius: 30px;
  
	  .photo-author {
	    padding-right: 20px;
	    padding-left: 20px;
	  }
  
	  .photo-text {
	    padding-right: 20px;
	    padding-left: 20px;
	  }
  
	  img {
	    margin-top: 10px;
	    margin-bottom: 20px;
	    width: 100%;
	  }
    
    .photo-table {
      td {
      padding-right: 20px;
      padding-left: 20px;
      }
    }
  
	  .photo-index-icon {
	    width: 35px;
	    height: 30px;
	    margin-left: 20px;
	  }
  
	  .photo-favorited-icon {
	    width: 35px;
	    height: 30px;
	    margin-left: 20px;
	    filter: invert(100%) sepia(100%) hue-rotate(240deg) saturate(100000%) brightness(100%);
	    
	  }
  
	  .section-comment {
	    margin-top: 10px;
  
	    .comment-title {
	  	padding-right: 20px;
	  	padding-left: 20px;
	    }
  
	    .comment-user {
	  	padding-right: 20px;
	  	padding-left: 20px;
	    }
  
	    .comment-content {
	  	padding-right: 20px;
	  	padding-left: 40px;
	    }
  
	    .form-group {
	  	margin-top: 20px;
	  	margin-bottom: 20px;
	    }
	  }
  }
}


.event-show-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  
  .event-show-single {
	  background-color: #fff;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  margin-top: 30px;
	  border: 1px solid #e6ecf0;
	  border-radius: 30px;
  
	  .event-author {
	    padding-right: 20px;
	    padding-left: 20px;
	  }
  
	  .event-text {
	    padding-right: 20px;
	    padding-left: 20px;
	  }
  
	  img {
	    margin-top: 10px;
	    margin-bottom: 20px;
	    width: 100%;
	  }
    
    .event-table {
      td {
      padding-right: 20px;
      padding-left: 20px;
      }
    }
  
	  .event-index-icon {
	    width: 35px;
	    height: 30px;
	    margin-left: 20px;
	  }
  
	  .event-favorited-icon {
	    width: 35px;
	    height: 30px;
	    margin-left: 20px;
	    filter: invert(100%) sepia(100%) hue-rotate(240deg) saturate(100000%) brightness(100%);
	    
	  }
  
	  .section-comment {
	    margin-top: 10px;
  
	    .comment-title {
	  	padding-right: 20px;
	  	padding-left: 20px;
	    }
  
	    .comment-user {
	  	padding-right: 20px;
	  	padding-left: 20px;
	    }
  
	    .comment-content {
	  	padding-right: 20px;
	  	padding-left: 40px;
	    }
  
	    .form-group {
	  	margin-top: 20px;
	  	margin-bottom: 20px;
	    }
	  }
  }
}
